numpy
pandas
matplotlib
scipy
scikit-learn
requests
Flask
Django
beautifulsoup4
sqlalchemy
pytest
virtualenv
tensorflow
keras
torch
seaborn
plotly
opencv-python
pillow
click
pylint
black
pytest
flake8
selenium
jupyter
flask-restful
flask_sqlalchemy
celery
redis
PyQt5
PyQtWebEngine
pyserial
pytz
pyyaml
gunicorn
cx_Freeze
sqlparse
pyglet
pyaudio
pyinstaller
PyOpenGL
pyjwt
xlsxwriter
pyodbc
python-dotenv
pyautogui
pandas-profiling
python-docx
flask-cors